@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("MeasureResponseTime", "Home", FormMethod.Post, new { @class = "input-url" }))
{
    <div class="form-group">
        <label for="inputUrl" class="form-label">Enter url</label>
        <input type="url" id="inputUrl" name="url" class="form-control" value="@ViewData["url"]" maxlength="1000" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" id="submit-button" />
    </div>
}

<h5 id="message">@ViewData["status-message"]</h5>

<script>
    function modifyMessage(content) {
        document.getElementById("message").innerHTML = content;
    }

    document.getElementById("submit-button").addEventListener("click", function ()
    {
        if (document.getElementById("message").innerHTML.length == 0)
            modifyMessage("Empty input")
        else
            modifyMessage("Request in progress...")
    }, false);
</script>