@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Results", "Home", FormMethod.Post, new { @class = "input-url" }))
{
    <div class="form-group">
        <label for="inputUrl" class="form-label">Enter url</label>
        <input type="url" id="inputUrl" name="url" class="form-control" maxlength="1000" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" id="submit-button" />
    </div>
}

<h5 id="message">@ViewData["status-message"]</h5>

@if (!User.Identity.IsAuthenticated)
{
    <div>
        &rsaquo; @Html.ActionLink("Login to save results and view history", "Login", "Account")
    </div>
}
else
{
    <div>
        &rsaquo; @Html.ActionLink("View history", "HistoryList", "Home")
    </div>
}