*:focus {
    outline: 0 !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 320px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 500px;
}

.input-url {
    height: 100px;
    padding-top: 30px;
}

main {
    min-height: calc(100vh - 145px);
}

#myDiv {
    overflow-x: hidden !important;
    height: 520px;
}

img {
    max-width: 1170px;
    width: 100%;
}

#message {
    margin-top: 200px;
    margin-bottom: 20px;
    color: orangered;
}

.navbar-inverse .navbar-brand {
    color: #f2eeee;
}

.navbar-inverse, .navbar-toggle {
    background-color: #213445;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td {
    vertical-align: middle;
}

.websiteUrl {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td{
    max-width: 400px;
}

tr{
    height: 50px;
}

th {
    cursor: pointer;
}

.table > thead > tr > th {
    border-bottom: none;
}